@import "https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css";

.avatar {
  position: relative;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 1em;
}

.title {
  position: relative;
  display: flex;
}

.container {
  position: absolute;
}

.feature-icons {
  display: inline-flex;
  list-style-type: none;
  margin: 0.5em auto;
  i {
    font-size: 1.5rem;
  }

  img {
    width: 25px;
    height: 25px;
  }
}

.about {
  margin-bottom: 5em;
}