.container {
  display: block;
  margin: 0 auto;
}
.map-container {
  position: relative;
  display: block;
  width: 95%;
  height: 250px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
p {
  font-size: 9px;
}





@media only screen and (min-width: 700px) {
  .map-container {
   
    width: 600px;
    
  }
}
