.map-container {
  position: absolute;
  display:block;
  width: 45vw;
  height: 30vw;
  right: 1em;
  top: 1em;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}


#yourlocation {
  top: .5em;
}

@media only screen and (max-width: 690px) {
  .map-container {
    right:auto;
    width:100%;
    min-width: 300px;
    min-height:200px;
  }

}
