.map-container {
  position: absolute;
  display: block;
  width: 40vw;
  height: 30vw;
  right: 1em;
  top: 1em;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

#yourlocation {
  top: 0.5em;
  margin: 0.2em;
}

@media only screen and (min-width: 690px) {
  .map-container, #map, .map-frame {
    right: auto;   
    max-width: 450px;
    max-height: 350px;
  }

  .map-container {
    padding: 1em;
  }

}

@media only screen and (max-width: 690px) {
  .map-container, #map, .map-frame {
  
    width:480px;
    height: 250px;
  }



}
