.map {
  position: relative;
  transform: scale(1);
}

#spacer {
  width: 50%;
  height: 45em;
  display: inline-block;
}

.profile {
  margin: 1.5em 0 0 0;
}

.name {
  margin-bottom: 0;
}

img {
  max-width: 300px;
  max-height: 300px;
}

.helper {
  top: 1em;
  text-align: center;
}
.avatar {
  text-align: center;
  width: 100%;
  float: center;
  border-radius: 50%;
  float: center;
}

@media only screen and (min-width: 690px) {
  .containerlocation {
    display: flex;
  }

  .about {
    width: 45%;
    margin: 2.5em 0em;
    float: left;
  }

  .map {
    float: left;
  }
  .helper {
    display: flex;
    text-align: center;
  }
  .titles {
    margin: 0 9em;
  }
}

@media only screen and (min-width: 690px) {
  .containerlocation {
    display: flex;
  }

  .about {
    width: 45%;
    margin: 2.5em 0em;
    float: left;
  }
}

@media only screen and (min-width: 1045px) {
  .containerhome {
    max-width: 900px;
    margin: 1em auto;
  }
}

@media only screen and (max-width: 690px) {
  .map {
    margin: 0 auto; 
  }
}