<div class='cardscontainer'>
  <mat-card class="project-card" *ngFor="let card of pInfo">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{card.title}}</mat-card-title>

    </mat-card-header>
    <a href={{card.webUrl}} target="_blank" class="image">
      <img mat-card-image matRipple src="{{card.iconUrl}}" alt="{{card.alt}}">
    </a>
    <mat-card-content>
      {{card.description}}
    </mat-card-content>
    <mat-card-actions>



      <div *ngIf="card.webUrl != 'NA'; then thendisplayweb else elseBlockweb"></div>
      <ng-template #thendisplayweb>
        <button mat-raised-button (click)="openLink(card.webUrl, card.display)">View Online</button>
      </ng-template>
      <ng-template #elseBlockweb>
        <div [matTooltip]="card.blockInfo">
          <button mat-raised-button disabled>View Website</button>
        </div>
      </ng-template>



      <div *ngIf="card.codeUrl != 'NA'; then thendisplaycode else elseBlockcode"></div>
      <ng-template #thendisplaycode>
        <button mat-raised-button (click)="openLink(card.codeUrl)">View Code</button>
      </ng-template>
      <ng-template #elseBlockcode>
        <div [matTooltip]="card.blockInfo">
          <button mat-raised-button disabled>View Code</button>
        </div>
      </ng-template>


    </mat-card-actions>
  </mat-card>
</div>