<mat-card class="project-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Maze Game</mat-card-title>
        
  </mat-card-header>
  <a href="https://hescu6.github.io/MazeGame/" target="_blank" class="image">
    <img mat-card-image matRipple src="./../../../assets/images/iconmaze.png" alt="Maze">
  </a>
  <mat-card-content>
    <p>Classic maze game with multiplayer capabilities, simply open in another tab or
      device and play.Developed using <b>HTML</b>, <b>JavaScript</b>, and
      <b>Firebase</b> cloud services</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button onClick="window.open('https://hescu6.github.io/MazeGame/')">View Online</button>
    <button mat-button onClick="window.open('https://github.com/Hescu6/MazeGame')">View Code</button>
  </mat-card-actions>
</mat-card>



<!-- <article>
    <a href="https://hescu6.github.io/MazeGame/" target="_blank" class="image"><img
            src="images/iconmaze.png" alt="" /></a>
    <div class="inner">
        <h4><a href="https://hescu6.github.io/MazeGame/" target="_blank">Maze Game</a></h4>
        <i class="fab fa-js"></i>
        <i class="fab fa-html5"></i>
        <img src="https://img.icons8.com/color/48/000000/firebase.png"
            style="filter: grayscale(100%);width:28px; height: auto; ">
        <p>Classic maze game with multiplayer capabilities,<br> simply open in another tab or
            device and play.<br>Developed using <b>HTML</b>, <b>JavaScript</b>, and
            <b>Firebase</b> cloud services</p>
        <p><a href="https://github.com/Hescu6/MazeGame" target="_blank">View Source Code</a></p>
    </div>
</article> -->