<div class='cardscontainer'>
  <mat-card class="project-card" *ngFor="let card of pInfo">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{card.title}}</mat-card-title>

    </mat-card-header>
    <a href={{card.webUrl}} target="_blank" class="image">
      <img mat-card-image matRipple src="{{card.iconUrl}}" alt="{{card.alt}}">
    </a>
    <mat-card-content>
      {{card.description}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openLink([card.webUrl])">View Online</button>
      <button mat-button (click)="openLink([card.codeUrl])">View Code</button>
    </mat-card-actions>
  </mat-card>
</div>