
<header id='header'>
  <div class='container'>
    <a href='#' class='logo'>Hildebrando's Portfolio</a>
    <nav>
      <ul>
        <li><a href='#' routerLink='/'>Home</a></li>
        <li><a href='#' routerLink='/projects'>Projects</a></li>
        <li><a href='#' routerLink='/about'>About</a></li>
      </ul>
    </nav>
  </div>
</header>


<div class='container' id='content'>
  <router-outlet></router-outlet>
</div>

<footer>
  <ul class='container'>
    <li *ngFor="let icon of footerVals">
      <a title={{icon.alt}} href={{icon.linkurl}} target="_blank">
        <img src={{icon.iconurl}}>
      </a>
    </li>
  </ul>
</footer>
