<header id='header'>

  <div class='container'>
    <!-- remove reouterLink'/about' -->
    <a href='#' routerLink='/about' class='logo'>Hildebrando's Portfolio</a>
    <nav>
      <ul>
        <!-- <li><a href='#' routerLink='/'>Home</a></li> -->
        <li><a href='#' routerLink='/projects'>Projects</a></li>
        <li><a href='#' routerLink='/about'>About</a></li>
      </ul>
    </nav>
  </div>
</header>


<div class='container' id='content'>
  <router-outlet></router-outlet>
</div>

<footer>
  <nav>
    <ul class='container'>
      <li *ngFor="let icon of footerVals">

        <div *ngIf="icon.weburl; then thenurl else elsedialog"></div>
        <ng-template #thenurl>
          <a [matTooltip]="icon.alt" href={{icon.weburl}} target="_blank">
            <img src={{icon.iconurl}}>
          </a>
        </ng-template>
        <ng-template #elsedialog>
          <a [matTooltip]="icon.alt" (click)="openDialog(icon.open)">
            <img src={{icon.iconurl}}>
          </a>
        </ng-template>

      </li>
    </ul>
  </nav>
</footer>