.contactcontainer{
    width: 90%;
    margin:0 auto;
}


.title {
    font-size: 1.5em
}

mat-form-field {
    display:block;
    margin: 1em auto;
}
button {
    bottom:0;
    margin: 4px;
}

.spinner {
    display: none;
    top:9em;
}

.dialogcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sucess {
    display:none;
    margin:0 auto;
    text-align: center;
    
}

.error{
    display:none;
    margin:0 auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    h1.title {
        font-size: 1em;
    }

}

