@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import "~leaflet/dist/leaflet.css";

$primary: rgb(74, 202, 168);

body {
    background: #f0f0f0;
    margin: 0 auto;
    font-family: 'Nunito', 'sans-serif';
    font-size: 16px;
}

.container {
    width: 80%;
    margin: 0 auto;
}


header {
    z-index: 99 !important;
    position:sticky;
    top: 0;
    width:100%;
    max-height: 3em;
    height:1.5em;
    background: $primary;
    padding: 1em 0;

    a {
        color: white;
        text-decoration: none;
    }

    

    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
              
                padding: 1em;
                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

footer {
    background: $primary;
    width: 100%;
    position:fixed;
    bottom: 0;
    height:40px;
    ul {
        
        list-style-type: none;
        text-align: center;
        padding: 0;
       li{
        display:inline-flex;
       }
      
        img {
            
            padding:5px 15px ;
            height:30px;
      
            &:hover {
                filter: invert(1);
            }
        }
    }
}

h1 {
    margin-top: 1em;
}

b {
    color:$primary;
}

 h2 {
    margin-top: 1em;
    color:$primary;
    font-size: 2em;
}

@media only screen and (max-width: 690px) {
    footer {
        height:30px;     
        ul {     
            img {
                height:19px;  
            }
        }
    }
    

    header {
        padding: 1em 1em 1em;
    
        a.logo {
            display:none;
        }
    
        nav {
           
            width:120%;
            ul {   
                list-style-type: none;
                display: flexbox;
                align-items: center;
                justify-content: center;
                li a {
                    padding: 0 35px;
                    &:hover {
                        background: darken($primary, 10%);
                    }
                }
            }
        }
    }

    h2 {
        margin-top: .5em;
        font-size: 2em;
    }
}